.bg-container {
  background-image: url("https://d1tgh8fmlzexmh.cloudfront.net/ccbp-static-website/towerbg.png");
  background-size: cover;
  padding: 10px;
}

.heading {
  color: white;
  font-family: "Roboto";
  font-size: 28px;
  font-weight: bold;
  padding: 24px;
}

.card {
  background-color: white;
  border-radius: 8px;
  padding: 16px;
  margin: 10px;
  margin-bottom: 20px;
}

.card-heading {
  color: #0f0e46;
  font-family: "Roboto";
  font-size: 23px;
  font-weight: bold;
}

.card-description {
  color: #6c6b70;
  font-family: "Roboto";
  font-size: 13px;
}

.card-image {
  width: 80px;
  height: 100px;
}
